.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
  transition: all 0.7s;

  &.scroll {
    background-color: var(--main-color);
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    img {
      height: 25px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 15px;

      .icon {
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        position: relative;

        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;

          span {
            padding: 5px 10px;
            cursor: pointer;
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
